<h1>Listing orders</h1>

<%= stylesheet_link_tag "nv.d3", media: "all" %>
<%= javascript_include_tag "d3.v3" %>
<%= javascript_include_tag "nv.d3" %>
<%= javascript_include_tag "tooltip" %>
<%= javascript_include_tag "utils" %>
<%= javascript_include_tag "interactiveLayer" %>
<%= javascript_include_tag "legend" %>
<%= javascript_include_tag "axis" %>
<%= javascript_include_tag "scatter" %>
<%= javascript_include_tag "line" %>
<%= javascript_include_tag "lineChart" %>
<%= javascript_include_tag "orders" %>

<%= content_tag :div, "", id: "orders_chart", data: {orders: Order.chart_data} %>

<div id="chart1" >
  <svg style="height: 500px;"></svg>
</div>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Shipping</th>
      <th>Purchased at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.price %></td>
        <td><%= order.shipping %></td>
        <td><%= order.purchased_at %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
<%= will_paginate @orders %>
